@model _191_MOMENT_2.Models.ProductModel

@{
    ViewData["Title"] = "Edit";
}


<h1 class="display-3">EDIT</h1>
<br />
<div class="row">
    <div class="col-md bg-dark bg-gradient text-white p-4">
        <h2 class='display-4'>EDIT PRODUCT</h2>
        <p>
            Add a new product article below; all fields must be filled:
        </p>

        @foreach (var product in (List<ProductModel>)ViewData["List"])
        {
            <form method="post" id="@product.id">
                <div>
                    <input type="hidden" asp-for="id" value="@product.id">

                    <label class="form-control-lg" asp-for="product_title"></label>
                    <br />
                    <input asp-for="product_title" class="mr-5" value="@product.product_title" />
                    <br />

                    <label class="form-control-lg" asp-for="ean_number"></label>
                    <br />
                    <input asp-for="ean_number" class="mr-5" value="@product.ean_number" />
                    <br />

                    <label class="form-control-lg" asp-for="product_description"></label>
                    <br />
                    <textarea rows="3" placeholder="max 250 words" asp-for="product_description" class="mr-5" value="@product.product_description"></textarea>
                    <br />

                    <label class="form-control-lg" asp-for="price"></label>
                    <br />
                    <input asp-for="price" class="mr-5" value="@product.price" />
                    <br />

                    <label class="form-control-lg" asp-for="amount_storage"></label>
                    <br />
                    <input asp-for="amount_storage" class="mr-5" value="@product.amount_storage" />
                    <br />

                    <label class="form-control-lg" asp-for="expiration_date"></label>
                    <br />
                    <input asp-for="expiration_date" class="mr-5" value="@product.expiration_date" />
                    <br />

                    <label class="form-control-lg" asp-for="category"></label>
                    <br />
                    <select asp-for="category" asp-items="Html.GetEnumSelectList<ProductSize>()" class="mr-5"></select>
                    <br />

                    <label class="form-control-lg" asp-for="isSwedish"></label>
                    <br />
                    @if (product.isSwedish == true)
                    {
                        <input type="checkbox" asp-for="isSwedish" class="ckbox" checked>
                    }
                    else
                    {
                        <input type="checkbox" asp-for="isSwedish" class="ckbox">
                    }
                    <br /><br />

                    <input id="@product.id" type="submit" class="btn btn-primary" value="Add!">
                </div>
                <br />
                <div asp-validation-summary="All"></div>
            </form>
            <hr />
        }
        
    </div>
</div>



<style>
    .edit {
        background-color: lightgray;
    }

    input.ckbox {
        width: 25px;
        height: 25px;
    }

    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
        font-size: 1.8em;
    }

    h3 {
        font-size: 2.2em;
    }

    button {
        font-size: 2em;
        font-weight: 800;
    }

    label {
        font-size: 2em;
    }

    strong {
        font-size: 1.5em;
    }

    hr {
        color: yellow;
        border: 20px;
    }

    .col-md {
        text-align: center;
    }
</style>